<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<body>
  <h1>Cases</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-block sub-title">
          <h5>Completed Cases over the past 7 days</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-2 panel categories">
        <h4>Benefits Verification: #</h4>
      </div>
      <div class="col-sm-2 panel categories">
        <h4>Prior Authorization: #</h4>
      </div>
      <div class="col-sm-2 panel categories">
        <h4>Prescription Referral: #</h4>
      </div>
      <div class="col-sm-2 panel categories">
        <h4>PAP: #</h4>
      </div>
      <div class="col-sm-2 panel categories">
        <h4>Copay: #</h4>
      </div>
    </div>
  </div>


  <table-component></table-component>
</body>
