body {
  background-color: #cfefff;
}

.sub-title {
  background-color: white;
}

.categories {
  background-color: purple;
}

.btn-primary {
  background-color: #8000ff;
}

.btn-danger {
  background-color: #001a4d;
}

h4 {
  color: white;
}
