<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<h1>Cases</h1>


<table class="table">
    <thead>
      <tr>
        <th>{{case.name}}</th>
        <th>Patient ID</th>
        <th>Date of Birth</th>
        <th>Service ID</th>
        <th>Service</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Adam Jones</td>
        <td>12345</td>
        <td>02/02/1979</td>
        <td>6789</td>
        <td>CoPay</td>
      </tr>
    </tbody>
  </table>
