

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Patient ID</th>
        <th>Date of Birth</th>
        <th>Service ID</th>
        <th>Service</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let case of cases">
        <td>{{case.name}}</td>
        <td><label>Patient ID: </label>{{case.patientId}}</td>
        <td><label>Date of Birth: </label>{{case.dob}}</td>
        <td><label>Service ID: </label>{{case.serviceId}}</td>
        <td><label>Service: </label>{{case.service}}</td>
      </tr>
    </tbody>
  </table>
